body{
    font-family: Courier, sans-serif;
    padding: 10px;
    margin: 0px;
}

h1{
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 40px;
    background-color: #eee;
    margin: 0;
}

.listMenu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.listMenu li {
  list-style: none;
  border-bottom-style: dashed;
  border-width: 2px;
  clear: left;
  font-size: 20px;
  padding: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.listMenu a:link {
  color: #000;
  text-decoration: none;
}

.listMenu a:visited {
  color: #000;
  text-decoration: none;
}

.listMenu a:hover {
  color: #ff6347;
  text-decoration: none;
}

.listMenu li:first-child {
  border-top-style: dashed;
}

.gearList li{
  list-style: none;
  border-bottom-style: dashed;
  border-width: 2px;
  clear: left;
  font-size: 20px;
  padding: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0px;
}

.gearList li:first-child {
  border-top-style: dashed;
}

.gearList li input {
  float: left;
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.gearList li input {
  position: absolute;
  left: -9999px;
  background-color: #ab576c;
}

.gearList li input + label {
  background-color: #ab576c;
}

.footer {  position: fixed;
  left: 0px;
  height: 20px;
  bottom: 0;
  width: 100%;
  margin-left: 0px;
  margin-right: auto;
  padding: 10px;
  padding-bottom: 0px;
  background-color: #eee;
  opacity: .7;
}

/*checkbox styles*/

li input {

}
