body {
  color: $yellow;
  overflow-x: hidden;
}  

  header {
    z-index: $top;
    opacity: 0.9;
  }

  

  a:link {
  color: $white;
  text-decoration: none;
  }

  a:visited {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    color: $green;
    text-decoration: none;
  }

  .article a:link {
    color: $white;
  }

  .article a:visited {
    color: $white;
  }

  .article a:hover {
    color: $yellow
  }

  @media #{$medium} {
    body {
    overflow-x: hidden;
  }

    .container {
      display: flex;
      align-content: flex-start;
      // justify-content: space-between;
      align-items: left;
      flex-wrap: wrap;
    }

    .item1 {
      display: flex;
      width: 100%;
    }

    .item2 {
      width: 100%;
    }

    .item3 {
      width: 100%;
    }
  }




