.footer {
  z-index: $tipTop;
  position: fixed;
  left: 0px;
  height: 20px;
  bottom: 0;
  width: 100%;
  margin-left: 0px;
  margin-right: auto;
  padding: 10px;
  padding-bottom: 0px;
  background-color: $grey;
  opacity: .7;
}

/* ----------------------------------------------- 
  RESPONSIVE CSS
-------------------------------------------------- */

@media #{$medium} {

  

  .footer {
    z-index: $tipTop;
    position: fixed;
    bottom: 0;
    width: 100%;
   /*  Set the fixed height of the footer here */
    height: 30px;
    background-color: $darkGrey;
  }
}