.navBar {
  @include text ($color: $white, $bg-color: $yellow, $weight: bolder, $align: left);
  @include posOp(relative, -100px, 0px, $z: $mid, $op: .8); 
  width: 100%;
  height: 15em;
  // padding-top: 10px;
  border-width: 0px; 
  border-radius: 25px;
}

.navBar h2 {
  @include text (4em, $l-height: 80%,$color: $white, $weight: bolder, $align: left);
  font-family: neuton, sans-serif;
  max-width: 100px; 
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
} 

.navBar ul {
  @include text ($l-height: 300%, $color: $white, $align: right);
  @include posOp(relative);
  font-family: neuton, sans-serif;
  list-style: none;
  text-align: right;
  margin-left: -20px;
  margin-right: 10px;
}

.navBar li {
  display: inline-block;
}



/* ----------------------------------------------- 
  RESPONSIVE CSS
-------------------------------------------------- */

@media #{$medium} {

  .navBar li:first-child {
    display: none;
  }

  .navBar li:nth-child(2) {
    display: none;
  }

  .navBar h2 {
    position: flex;
    left: -10%;
    font-size: 3em;
  }

  .navBar {
    // z-index: $tipTop;
    // position: fixed;
    // top: 220px;
    // position: flex;
    font-family: neuton, serif;       
    width: 140px;
    height: 800px;
    padding: 0px;
    background-color: $yellow;
    border-width: 0px; 
    border-radius: 25px;
    margin-left: 10px;
    
    top: 0px;
    left: 0px;
  }
}